.footer-wrapper{
    margin-left: auto;
    margin-right: auto;
    width:960px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    color:rgb(132,132,132);
    background: #f0f0f0;
}
.footer-link {
    text-decoration: none;
    color:rgb(132,132,132);
}

.footer-link:hover {
    cursor: pointer;
    color: #dc745b;
    text-decoration: underline;
}